.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sem-pensamentos {
  text-align: center;
  padding: 2rem 0 5rem;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.botoes button {
  margin-left: 10px;
  margin-right: 2px;
}
